<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://pinnpublic.dothome.co.kr/cdn/example-min.css">
    <title>Document</title>
</head>
<body>
    <h1>Content</h1>
    <!--/*
      Thymeleaf Text

      1. th:text
        - escaped text
        - inner Text

      2. th:utext
        - unescaped text
        - innerHTML

      인라인 출력
        - th:inline="text" (기본값)
        - th:inline="javascript"
        - th:inline + [[]] //escaped text
        - th:inline + [()] //unescaped text

    */-->

    <div th:text="${txt1}"></div>
    <div th:utext="${txt1}"></div>

    <hr>
    <div th:text="${txt2}"></div>
    <div th:utext="${txt2}"></div>

    <hr>

    <div th:text="${txt1}"></div>
    <div th:inline="text">[[${txt1}]]</div>
    <div>[[${txt1}]]</div>

    <div th:utext="${txt2}"></div>
    <div th:inline="text">[[${txt2}]]</div>
    <div th:inline="text">[(${txt2})]</div>
    <div>[(${txt2})]</div>

    <!-- PCDATA 조작하는 방법 -->
    <div>이름: 홍길동</div>
    <!--주로사용-->
    <div>이름: <span th:text="${name}"></span></div>
    <div th:text="'이름: ' + ${name}"></div>
    <!-- 나쁘진 않음 -->
    <div th:text="|이름: ${name}|"></div>
    <div th:inline="text">이름: [[${name}]]</div>
    <!--주로사용-->
    <div>이름: [[${name}]]</div>

    <hr>
    <div id="list"></div>

    <!-- 타임리프를 통해 자바스크립트 조작 가능 -->
    <script>

       // let name1 = `${name}`;
       //let name1 =[[${name}]];
       let name1 ='[[${name}]]';
       let num = [[${num}]];
       let dto1 = '[[${dto}]]';
       let map1 = '[[${map}]]';
       let names1 = '[[${names}]]';
       let list1 = `[[${list}]]`;

    </script>



    <script th:inline="javascript">

        let name2 =[[${name}]];
        let num2 = [[${num}]];

        /*자바스크립트 객체로 변환해줌*/
        let dto2 = [[${dto}]];
        //alert(dto2.gender);
        let map2 = [[${map}]];
        let names2 = [[${names}]];
        let list2 = [[${list}]];


        list2.forEach(item => {
            document.getElementById("list").innerHTML += `
            <div>${item.name} - ${item.age} - ${item.address} </div>
            `;
        });

    </script>

</body>
</html>